.alert {
	position: absolute;
	z-index: 1;
	width: 200px;
}
.logo {
	max-width: 150px;
}
.landing_title {
	padding-top: 200px;
}
.custom_btn{
	padding: 1px 7px !important;
	border-radius: 2px !important;
	font-size: 11px;
}
.recurring{
	display: none;
}
.post_scheduled_at{
	margin-bottom: 5px;
}
.recurring label{
	margin-right: 10px; 
}
.recurring input[type="checkbox"]{
	margin-right: 5px; 
}